   body {
     background-color: white;
    font-family: Arial, Helvetica, sans-serif;
        }
          
 .top {
 display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 35px;
    border-bottom: 1px solid;
    padding-top: 20px;
    border-color: rgb(197, 189, 189);
        }

.imgtop {
    flex: 1 1 100%; 
}

        .flex-container {
            display: flex;
            flex-direction: column;
                    background-color: red;
            height: 50%;
        }

        /* .flex-container div { 
     flex: 1 1 auto;
        width: 150px;
        height: 110px;
        margin: 5px;
        background-color: darkgoldenrod;
        } */

        .row   {
            display: flex;
            flex-direction: row;
             gap: 2px;
        } 



        .shops {
padding-left: 20px;
}

.rightcontent {
margin-right: 5px;
}

.rightcontent ul a {
    margin-left: 28px;
}
 
 .home {
     padding-left: 20px;
 }
  .home ul a 
{
    margin-right: 50px;
}

ul{margin: 0; padding:0;}
ul li{list-style: none;}

